<div class="container mt-4 tittle">
    <div class="row">
        <div class="col">
            <h1>
                <li class="fa-solid fa-eye"></li> &nbsp;
                View Contact
            </h1>

            <p style="text-align: justify">
                In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.
            </p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <img width="300px"
           [src]="contact.photo"
            alt=""
            class="contact-image"
          />
          <br>
         
          <a routerLink="/" class="btn btn-warning"> <i class="fa-sharp fa-solid fa-arrow-left"></i> Go Back</a>
        </div>
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item">Name : {{contact.name}}</li>
                <li class="list-group-item">Email : {{contact.email}}</li>
                <li class="list-group-item">Mobile : {{contact.mobile}}</li>
                <li class="list-group-item">Company: {{contact.company}}</li>
                <li class="list-group-item">Title : {{contact.title}}</li>
                <li class="list-group-item">Group : {{groupName}}</li>
              </ul>
        </div>
    </div>
</div>